
@media(max-width:769px){
    .show-hide-drawer{
        display: none;
    }
    .rootGrid{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100;
    }
} 